body {
    background-color: rgb(250, 249, 246);
}

.all_background {
    background-image: url('/public/purple.jpg');
    background-size: 100% 120%;
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
    background-position: bottom;
    height: 190px;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 80% 70%, 50% 80%, 20% 70%, 0 50%);
    /*  */
}

@media (max-width: 1000px) {
    .all_background {
        background-image: url('/public/purple.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        height: 345px;
        clip-path: polygon(0 0, 100% 0, 100% 40%, 80% 50%, 50% 60%, 20% 50%, 0 40%);
        /* (HL, HR, MR, LR, MM, LG, MG, HG) */
    }
}